* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(235, 235, 235);
    font-family: 'Teko', sans-serif;
}

.navbar {
    font-size: 1.3rem;
    color: white;
}


/**************Swiper**************/

.swiper-container {
    width: 100%;
    height: 90vh;
}

.banner-image {
    margin-top: 10vh;
    letter-spacing: 0.3rem;
}

#banner-slide-1 {
    background-image: url(./assets/images/banner-images/1.jpeg);
    background-size: 100% 90vh;
}

#banner-slide-2 {
    background-image: url(./assets/images/banner-images/2.jpeg);
    background-size: 100% 90vh;
}

#banner-slide-3 {
    background-image: url(./assets/images/banner-images/3.jpeg);
    background-size: 100% 90vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    /* background: #fff; */
    /* Center slide text vertically */
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#swiper-button {
    color: white;
}


/****************Gallary Grid*********************/

.gallery-image {
    grid-area: photo;
}

.gallery-image-disp {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.gallery {
    margin-top: 15px;
}


/* div {
    margin-top: 5px;
} */

.footer {
    height: 20vh;
    color: whitesmoke;
    background-color: rgb(71, 70, 70);
    align-items: baseline;
}

.footer-item {
    margin-top: 30px;
}